.about-heading {
    text-align: center;
  }
  
  .about-subtitle {
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  
  .about-title {
    margin-bottom: 40px;
    font-size: 3rem;
  }
  
  .about-description {
    padding: 20px;
  }
  